{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
{% endblock %}


{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">&#128214; RI: Cost calculation model</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#uni-rankings">X</a>
                    </li>
                        <a class="nav-link" href="https://github.com/IstvnRozsa/UniversityRankings"
                           target="_blank">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-lg">
        <div class="row" style="margin: auto">
            <div class="col col-sm-4 sticky-column">
                <div class="sticky-top">
                    <h1 id="countries-comparison">&#x2696;&#xFE0F; 1. Saját munkavállalók</h1>
                    <p>Ebben a szekcióban a saját munkavállalók költségfelosztását elemezhetjük.</p>
                    <div class="alert alert-primary" role="alert">

                        <h6>Felosztott költségek:</h6>
                        <ul>
                            <li>Bérköltség(54)</li>
                            <li>Bérjárulék(56)</li>
                            <li>Egyéb(52+53+57)</li>
                            <li>Rezsi anyag(51)</li>

                        </ul>
                    </div>
                    <div class="diagram-container" style="margin-top: 10px;width: 70%;">
                        <p>Összes felosztott saját munkavállalók bére:</p>
                        <h2 id="all_direct_holder">100.000 HUF</h2>
                    </div>

                </div>
            </div>
            <div class="col col-sm-8">

                <div class="diagram-container">
                    <h2>&#x1F6A9; Felosztott költségek</h2>
                    <p>Az 1. körben felosztott saját munkavállalók költségének összege.</p>

                    <div id="direct_holder_bar_chart"></div>
                </div>
                <div class="diagram-container">
                    <h2>&#x1F50E; Saját munkavállalók bérköltség felosztásának analitikája</h2>
                    <p>....</p>
                    <div class="table-container">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="direct_cost_holder_table">
                                <thead class="thead-dark"></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr class="my-4">
        <div class="row" style="margin: auto">
            <div class="col col-sm-4 sticky-column">
                <div class="sticky-top">
                    <h1 id="uni-rankings">&#x1F3DB;&#xFE0F; 2. Kölcsönzött munkaerő</h1>
                    <p>Ebben a szekcióban a kölcsönzött munkaerők bérét elemezhetjük. A felosztás alapja 2 féle lehet: tényidő alapú vagy eddig felmerült költség alapú.</p>
                    <div class="alert alert-primary" role="alert">

                        <h6>Felosztandó költségek:</h6>
                        <ul>
                            <li>Munkaerő kölcsönzés bér költsége</li>
                            <li>Munkaerő kölcsönzési jutalék</li>
                        </ul>
                    </div>
                    <div class="diagram-container" style="margin-top: 10px;width: 70%;">
                        <p>Összes felosztott munkaerő kölcsönzés:</p>
                        <h2 id="all_direct_employee">100.000 HUF</h2>
                    </div>
                </div>
            </div>
            <div class="col col-sm-8" id="diagrams-section-1">

                <div class="diagram-container">
                    <h2>&#x1F6A9; Felosztott költségek</h2>
                    <p>A 2. körben felosztott kölcsönzött munkaerő költségek összege.</p>
                    <div id="direct_employee_bar_chart"></div>
                </div>


                <div class="diagram-container">
                    <h2>&#x1F50E; Kölcsönzött munkaerő költségeinek analitikája</h2>
                    <p>A táblázat részletesen tartalmazza az összes cikkre osztott munkaerő kölcsönzés költségét.</p>
                    <div class="table-container">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="direct_employee_table">
                                <thead class="thead-dark"></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr class="my-4">
        <div class="row" style="margin: auto">
            <div class="col col-sm-4 sticky-column">
                <div class="sticky-top">
                    <h1 id="public-spending">&#x1F4B5; 3. Művezetők bére</h1>
                    <p>Ebben a szekcióban a művezetők béreinek költségfelosztását elemezhetjük.</p>
                    <div class="alert alert-primary" role="alert">
                        <h6>Felosztott költségek:</h6>
                        <ul>
                            <li>Bérköltség(54)</li>
                            <li>Bérjárulék(56)</li>
                            <li>Egyéb(52+53+54)</li>
                        </ul>
                    </div>
                    <div class="diagram-container" style="margin-top: 10px;width: 70%;">
                        <p>Összes felosztott művezető bér:</p>
                        <h2 id="all_leader">100.000 HUF</h2>
                    </div>
                </div>
            </div>
            <div class="col col-sm-8">
                <div class="diagram-container">
                    <h2>&#x1F6A9; Felosztott költségek</h2>
                    <p>A 3. körben felosztott művezetők költségeinek összege.</p>

                    <div id="leader_bar_chart"></div>
                </div>


                <div class="diagram-container">
                    <h2>&#x1F50E; Művezetők költség felosztásának analitikája</h2>
                    <p>....</p>
                    <div class="table-container">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="prod_leader_table">
                                <thead class="thead-dark"></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="row" style="margin: auto">
            <div class="col col-sm-4 sticky-column">
                <div class="sticky-top">
                    <h1 id="public-spending">&#x1F4B5; 4. Egyéb költségek</h1>
                    <p>Ebben a szekcióban az összes gyártáshoz kapcsolódó, egyéb költségek költségfelosztását elemezhetjük.</p>
                    <div class="alert alert-primary" role="alert">
                        <h6>Felosztott költségek:</h6>
                        <ul>
                            <li>Szerszám, alkatrész (5121)</li>
                            <li>Áramdíj költség (513)</li>
                            <li>Vízdíj (514)</li>
                            <li>Gázdíj költsége (515)</li>
                            <li>Bérleti díj (522)</li>
                            <li>Karbantartás költsége (524)</li>
                            <li>Értékcsökkenés költsége (57)</li>
                            <li>Bérköltség ktgh (54)</li>
                            <li>Bérjárulékok ktgh (56)</li>
                            <li>Munkaerő kölcsönzés bér ktg. (5298)</li>
                            <li>Munkaerő kölcsönzés jutalék ktg (5298)</li>
                        </ul>
                    </div>
                    <div class="diagram-container" style="margin-top: 10px;width: 70%;">
                        <p>Összes felosztott egyéb költség:</p>
                        <h2 id="all_other">100.000 HUF</h2>
                    </div>

                </div>
            </div>
            <div class="col col-sm-8">
                <div class="diagram-container">
                    <h2>&#x1F6A9; Felosztott költségek</h2>
                    <p>A 4. körben felosztott egyéb költségek összegei.</p>

                    <div id="other_bar_chart"></div>
                </div>


                <div class="diagram-container">
                    <h2>&#x1F50E; Egyéb költségek felosztásának analitikája</h2>
                    <p>....</p>
                    <div class="table-container">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="other_table">
                                <thead class="thead-dark"></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="row" style="margin: auto">
            <div class="col col-sm-4 sticky-column">
                <div class="sticky-top">
                    <h1 id="public-spending">&#x1F4B5; 5. Összefoglaló</h1>
                    <p>Az 5. szekcióban részletesen elemezzük az utókalkuláció során cikkekre lebontott összes költséget.</p>
                    <div class="alert alert-primary" role="alert">
                        <h6>Az Önköltség számítás során felosztott költségek:</h6>
                        <ul>
                            <li>Bérköltségek(54)</li>
                            <li>Bérjárulékok(56)</li>
                            <li>Egyéb(52+53+57)</li>
                            <li>Munkaerő kölcsönzés bér ktg. (5298)</li>
                            <li>Munkaerő kölcsönzés jutalék ktg.(5298)</li>
                            <li>Rezsi anyag(51)</li>
                            <li>Szerszám, alkatrész(5121)</li>
                            <li>Áramdíj költség(513)</li>
                            <li>Vízdíj(514)</li>
                            <li>Gázdíj(515)</li>
                            <li>Bérleti díj(522)</li>
                            <li>Karbantartás költsége(524)</li>
                            <li>Értékcsökkenés költsége(57)</li>
                        </ul>
                    </div>
                    <div class="diagram-container" style="margin-top: 10px; width: 70%;">
                        <p>Összes felosztott költség:</p>
                        <h2 id="all_summarized">100.000 HUF</h2>
                    </div>

                </div>
            </div>
            <div class="col col-sm-8">
                <div class="diagram-container">
                    <h2>&#x1F4B5; Összes felosztott költség</h2>
                    <p>...</p>
                    <div id="summary_bar_chart"></div>
                </div>


                <div class="diagram-container">
                    <h2>&#x1F5FA; A teljes költség felosztás analitikája</h2>
                    <p>....</p>
                    <div class="table-container">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="summarized_table">
                                <thead class="thead-dark"></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">
                        <h3>Költségek</h3>
                        <div class="form-group">
                            <label for="combobox">X tengely</label>
                            <div class="input-group">
                                <select id="combobox-x" class="selectpicker"></select>
                            </div>
                            <label for="combobox">Y tengely</label>
                            <div class="input-group">
                                <select id="combobox-y" class="selectpicker"></select>
                            </div>
                            <label for="combobox">Buborék méret</label>
                            <div class="input-group">
                                <select id="combobox-size" class="selectpicker"></select>
                            </div>
                            <label for="combobox">Buborék szín</label>
                            <div class="input-group">
                                <select id="combobox-color" class="selectpicker"></select>
                            </div>
                        </div>

                        <div class="diagram-container" style="margin-top: 10px">
                            <p>Méret és szín magyarázat</p>
                            <svg width="400" height="80">
                                <!-- Circle with radius 2 -->
                                <circle cx="30" cy="40" r="2" stroke="black" stroke-width="2" fill="none"/>
                                <text class="label-text" x="30" y="70">0-25%</text>

                                <!-- Circle with radius 4 -->
                                <circle cx="110" cy="40" r="4" stroke="black" stroke-width="2" fill="none"/>
                                <text class="label-text" x="110" y="70">25-50%</text>

                                <!-- Circle with radius 8 -->
                                <circle cx="190" cy="40" r="8" stroke="black" stroke-width="2" fill="none"/>
                                <text class="label-text" x="190" y="70"> 50-75%</text>

                                <!-- Circle with radius 12 -->
                                <circle cx="270" cy="40" r="12" stroke="black" stroke-width="2" fill="none"/>
                                <text class="label-text" x="270" y="70">75+%</text>

                            </svg>
                            <svg width="400" height="80">
                                <!-- Circle with radius 2 -->
                                <circle cx="30" cy="40" r="4" fill="#d9ed92"/>
                                <text class="label-text" x="30" y="70">0-25%</text>

                                <!-- Circle with radius 4 -->
                                <circle cx="110" cy="40" r="4" fill="#76c893"/>
                                <text class="label-text" x="110" y="70">25-50%</text>

                                <!-- Circle with radius 8 -->
                                <circle cx="190" cy="40" r="4" fill="#1a759f"/>
                                <text class="label-text" x="190" y="70"> 50-75%</text>

                                <!-- Circle with radius 12 -->
                                <circle cx="270" cy="40" r="4" fill="#184e77"/>
                                <text class="label-text" x="270" y="70">75+%</text>

                            </svg>
                        </div>
                    </div>
                    <div class="col col-8">
                        <div class="diagram-container">
                            <h2>&#x1F6A9; Bér korreláció</h2>
                            <p>Kiválasztott dimenziók szerint.</p>
                            <div id="summary_bubble_plot"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="footer" style="padding-top: 100px;margin: auto;">
        <p class="text-center">&copy; Developed with &#10084;&#65039; by Istvan Rozsa</p>
    </div>



    <script>
        let directEmployee = {{ direct_employee | safe }};
        console.log(directEmployee);

        let directCostHolder = {{ direct_costholder | safe }};
        console.log(directCostHolder);

        let prodLeader = {{ prodleader | safe }};
        console.log(prodLeader);

        let other = {{ other | safe }};
        console.log(other);

        let summarized = {{ summarized | safe }};
        console.log(summarized);

        let summarizedKeys = {{ summarized_item_keys | safe }};
        console.log(summarizedKeys);

        const mainColor = "#007bff";
        const secondaryColor = "#542E71";
        const highlightColor = "#FF5714";
        const secondaryColor2 = "#9C9C9C";
    </script>
    <script src="../static/js/Charts.js"></script>
    <script src="../static/js/1_DirectCosts/DirectCosts1.js"></script>
    <script src="../static/js/2_DirectCosts/DirectCosts2.js"></script>
    <script src="../static/js/3_LeaderCosts/LeaderCosts.js"></script>
    <script src="../static/js/4_OtherCosts/OtherCosts.js"></script>
    <script src="../static/js/5_Summary/CostSummary.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}