{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
{% endblock %}


{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">&#128214; RI: Önköltségszámítási modell</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#uni-rankings">X</a>
                    </li>
                        <a class="nav-link" href="https://github.com/IstvnRozsa/UniversityRankings"
                           target="_blank">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-lg">
        <div class="row" style="margin: auto">
            <div class="col col-sm-4 sticky-column">
                <div class="sticky-top">
                    <h1 id="uni-rankings">&#x1F3DB;&#xFE0F; Direkt költségek 1</h1>
                    <p>költségviselők alapján</p>
                    <div class="alert alert-primary" role="alert">

                        <h6>Felosztott költségek</h6>
                        <ul>
                            <li>Bérköltség</li>
                            <li>Bérjárulék</li>
                            <li>Egyéb</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col col-sm-8" id="diagrams-section-1">

                <div class="diagram-container">
                    <h2>&#x1F6A9; TOP 10 Countries</h2>
                    <p>by selected continent and selected score type.</p>
                    <div id="bar-chart-location"></div>
                </div>
                <div class="diagram-container">
                    <h2>&#x1F3E2; TOP 10 Universities</h2>
                    <p>by selected continent, selected country and selected score type.</p>
                    <div id="bar-chart-universities"></div>
                </div>
                <div class="diagram-container">
                    <h2>&#x1F5FA; Universities on the map</h2>
                    <p>Depending on the university's overall score, the icon size and color change.</p>
                    <ul class="nav nav-tabs" id="myTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="text-tab" data-bs-toggle="tab" href="#text-content"
                               role="tab"
                               aria-controls="text-content" aria-selected="true">Map</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="table-tab" data-bs-toggle="tab" href="#table-content" role="tab"
                               aria-controls="table-content" aria-selected="false">Table format</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabsContent">


                        <!-- Tab 1: Map Content -->
                        <div class="tab-pane fade show active" id="text-content" role="tabpanel"
                             aria-labelledby="text-tab">
                            <div class="p-3">
                                <!-- Map content goes here -->
                                <!--<div id="world-map"></div>-->
                                <div id="uni-map"></div>
                            </div>
                        </div>

                        <!-- Tab 2: Table Content -->
                        <div class="tab-pane fade" id="table-content" role="tabpanel"
                             aria-labelledby="table-tab">
                            <div class="table-container">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="university-table">
                                        <thead class="thead-dark"></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <hr class="my-4">
        <div class="row" style="margin: auto">
            <div class="col col-sm-4 sticky-column">
                <div class="sticky-top">
                    <h1 id="countries-comparison">&#x2696;&#xFE0F; Direkt költségek 2</h1>
                    <p>kölcsönzött dolgozók alapján</p>
                    <div class="alert alert-primary" role="alert">

                        <h6>Felosztott költségek</h6>
                        <ul>
                            <li>Munkaerő kölcsönzés bér ktg.</li>
                            <li>Munkaerő kölcsönzési jutalék</li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="col col-sm-8">
                <div class="diagram-container">
                    <h2 id="header-country1"></h2>
                    <div id="top-unis-chart1"></div>
                </div>
                <div class="diagram-container">
                    <h2 id="header-country2"></h2>
                    <div id="top-unis-chart2"></div>
                </div>
                <div class="diagram-container">
                    <h2>&#x1F4B5; Public spending on education as a share of GDP</h2>
                    <p>Total general government expenditure on education (all levels of government and all levels of
                        education),given as a share of GDP.</p>
                    <ul>
                        <li id="country1-text"></li>
                        <li id="country2-text"></li>
                    </ul>
                    <div id="uni-spendings-lineplot"></div>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="row" style="margin: auto">
            <div class="col col-sm-4 sticky-column">
                <div class="sticky-top">
                    <h1 id="public-spending">&#x1F4B5; Művezetők bére</h1>
                    <p>..</p>
                    <div class="alert alert-primary" role="alert">
                        <h6>Felosztott költségek</h6>
                        <ul>
                            <li>Áram</li>
                            <li>Viz</li>
                            <li></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col col-sm-8">
                <div class="diagram-container">
                    <h2>&#x1F4B5; Egyéb költségek</h2>
                    <p>...</p>
                    <div class="row" style="padding-top: 0">
                        <div class="col-4"></div>
                        <div class="col-4 alert alert-secondary" role="alert">
                            <h6>Selected countries</h6>
                            <ul id="labels-div">
                            </ul>
                        </div>
                    </div>

                    <div id="countries-line-plot"></div>
                </div>
                <div class="diagram-container">
                    <h2>&#x1F4B5; Public spending on education Map</h2>
                    <p>Selected year: 2016. Total general government expenditure on education (all levels of
                        government
                        and
                        all levels of
                        education),given as a share of GDP.</p>
                    <div id="world-map-spending" style="width: 900px; height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" style="padding-top: 100px;margin: auto;">
        <p class="text-center">&copy; Developed with &#10084;&#65039; by Istvan Rozsa</p>
    </div>



    <script>
        let direkt_dolgozo = {{ direkt_dolgozo | safe }};
        console.log(direkt_dolgozo);

        let direkt_koltsegviselo = {{ direkt_koltsegviselo | safe }};
        console.log(direkt_koltsegviselo);

        let muvezeto = {{ muvezeto | safe }};
        console.log(muvezeto);

        let egyeb = {{ egyeb | safe }};
        console.log(egyeb);

        let osszesitett = {{ osszesitett | safe }};
        console.log(osszesitett);

    </script>

{% endblock %}